@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: url(../public/ba2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* ... your other css ... */

.avatar.online::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #22c55e; /* green-500 */
  border: 2px solid white;
}